<!-- [ngClass]="{'mob-opened' : condition}" -->
<div class="DG-right-panel-area">
    <button class="DG-panel-mob-cls-btn"><img src="assets/img/cross.svg" /></button>
    <div class="DG-right-inner">
        
        <div class="DG-info-group">
            <h2 class="DG-group-heading">VEHICLE</h2>
            <ul class="DG-group-row">
                <li>
                    <label>VEHICLE</label>
                    <div class="name">gv60</div>
                </li>
                <li>
                    <label>year</label>
                    <div class="name">my23</div>
                </li>
                <li>
                    <label>model</label>
                    <div class="name">w5ybz7z</div>
                </li>
                <li>
                    <label>option</label>
                    <div class="name">h172</div>
                </li>
                <li>
                    <label>ext</label>
                    <div class="name">elm</div>
                </li>
                <li>
                    <label>int</label>
                    <div class="name">nnb</div>
                </li>
            </ul>
        </div>

        <div class="DG-info-group">
            <h2 class="DG-group-heading">camera</h2>
            <ul class="DG-group-row">
                <li>
                    <label>type</label>
                    <div class="name">211</div>
                </li>
                <li>
                    <label>env</label>
                    <div class="name">069</div>
                </li>
                <li>
                    <label>cam</label>
                    <div class="name">052</div>
                </li>
            </ul>
        </div>

        <div class="DG-info-group">
            <h2 class="DG-group-heading">file</h2>
            <ul class="DG-group-row">
                <li>
                    <label>render version</label>
                    <div class="name">3.9</div>
                </li>
                <li>
                    <label>file type</label>
                    <div class="name">jpg</div>
                </li>
                <li>
                    <label>file count</label>
                    <div class="name">1</div>
                </li>
                <li class="full">
                    <label>file name</label>
                    <div class="name">carfullimagname.jpg</div>
                </li>
            </ul>
        </div>
       
    </div>
</div>