/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import '@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@include mat-core();

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

*{ box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-radio-button{
    position: relative;
    display: inline-block;
    margin: 0px 5px 5px;
    .mdc-form-field{
        padding: 5px 5px 3px;
        background: #fff;
        border-radius: 4px;
        border:#000 solid 2px;
    }
    .mdc-radio{
        position: absolute;
        padding: 0px !important;
        opacity: 0;
    }
    label{
        padding: 0px !important;
        line-height: 1.2;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    &.mat-mdc-radio-checked{
        .mdc-form-field {
            border-color: #70d1d4;
            box-shadow: inset #70d1d4 0px 0px 3px;
        }
    }
}
